<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333349479895-kg696ltr74vhd35htjgqo6ddl0ebt4bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333349479895-kg696ltr74vhd35htjgqo6ddl0ebt4bh</string>
	<key>API_KEY</key>
	<string>AIzaSyBAa2cm8DVj7LFbSioNq_wRgWira1W5upE</string>
	<key>GCM_SENDER_ID</key>
	<string>333349479895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DemoFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>demoauth-48b12</string>
	<key>STORAGE_BUCKET</key>
	<string>demoauth-48b12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333349479895:ios:3459d3440770e6ae205792</string>
	<key>DATABASE_URL</key>
	<string>https://demoauth-48b12.firebaseio.com</string>
</dict>
</plist>